appnope==0.1.0
astroid==1.6.5
autopep8==1.3.5
awscli==1.11.97
backports.functools-lru-cache==1.3
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.5.3
boto==2.46.1
boto3==1.4.4
botocore==1.5.60
bs4==0.0.1
certifi==2017.7.27.1
chardet==3.0.4
click==6.7
colorama==0.3.7
configparser==3.5.0
cycler==0.10.0
decorator==4.1.2
docutils==0.13.1
enum34==1.1.6
flake8==3.5.0
flake8-pep257==1.0.5
Flask==0.12.2
functools32==3.2.3.post2
futures==3.1.1
idna==2.6
ipython==5.4.1
ipython-genutils==0.2.0
isort==4.2.5
itsdangerous==0.24
Jinja2==2.9.6
jmespath==0.9.3
jsonschema==2.6.0
jupyter-core==4.3.0
lazy-object-proxy==1.2.2
MarkupSafe==1.0
matplotlib==2.0.2
mccabe==0.6.1
nbformat==4.4.0
numpy==1.13.1
pandas==0.20.3
pathlib2==2.3.0
pep257==0.7.0
pexpect==4.2.1
pickleshare==0.7.4
plotly==2.0.15
prompt-toolkit==1.0.15
ptyprocess==0.5.2
py==1.4.33
pyasn1==0.2.3
pycodestyle==2.3.1
pyflakes==1.6.0
Pygments==2.2.0
pylint==1.9.3
pyparsing==2.2.0
pyperclip==1.5.27
pytest==3.1.0
python-dateutil==2.6.0
pytz==2017.2
PyYAML==3.12
requests==2.18.4
rsa==3.4.2
s3transfer==0.1.10
scandir==1.5
scipy==0.19.1
selenium==3.4.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
subprocess32==3.2.7
traitlets==4.3.2
urllib3==1.22
virtualenv==16.0.0
wcwidth==0.1.7
Werkzeug==0.12.2
wrapt==1.10.10
